
@{
    ViewBag.Title = "Register";
}

<form method="post">
    <label> ID</label><input type="text" name="id" /> <br />
    <label> First name</label><input type="text" name="firstname" /> <br />
    <label> Last name</label><input type="text" name="lastname" /> <br />
    <label> Email Adress</label><input type="email" name="email" /><br />
    <label> Login name</label><input type="text" name="loginname" /> <br />
    <label> Password</label><input type="password" name="password" /> <br />
    <label> Contact Number</label><input type="text" name="contactnumber" /> <br />
    <label> Address</label><input type="text" name="address" /> <br />
    <label> Fax</label><input type="text" name="fax" /> <br />
    <label> Zip </label><input type="text" name="zip" /> <br />
    <label> State</label><input type="text" name="state" /> <br />
    <button type="submit">Register</button>

</form>