@using Catalog;
@{
    ViewBag.Title = "Index";
}

<h2>Flowers Gallery</h2>
</hr>
<h3>Flowers to celebrate each momemt of life</h3>

@{
    IEnumerable<Product> allProducts = ViewBag.products;
    foreach (Product theProduct in allProducts)
    {
        <img src="@theProduct.ImageUrl" width="100" height="100" />
        <br />

        <p><a href="/catalog/details/@theProduct.Id">@theProduct.Title</a></p>
    }

}