
@{
    ViewBag.Title = "Services";
}

<h2> Transflower Services</h2>

<hr />

<ol>
    <li>Online Trainings</li>
    <li>Online Workshops</li>
    <li>Online Mentoring</li>
    <li>Research Development</li>
 </ol>
